
.kz-btn {
    width: 90%;
    margin: 4px;
}
.kz-input-text {
    margin-top: 3px;
    width:96%;
	margin-left:6px
}
.kz-pad-20 {
    background-color: #e5e5e5;
	padding: 20px;
}
.col-xs-3, .col-xs-9 {
	padding: 0px;
}
.form-pos{
    padding-top:150px;
    margin-left:300px;
}